* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f363f;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {

  text-align: center;
  font-size: 80px;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  border: 2px solid white;
  margin: 3px;
  cursor: pointer;
}

.box:hover {
  background: aqua;
}

.btn {
  font-size: 22px;
  padding: 11px;
  margin: 14px;
  cursor: pointer;
  background-color: inherit;
  color: aqua;    
  border-radius: 20%;
}

.buttons{
  flex-direction: column;
}

#turn{
  color: #FFF222
}

.result{
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF222
}